<% content_for :home do%>
  <%= render 'navbar' %>

  <!-- Header -->
  
    <div class="container hero-container hero-img">
      <div class=" row d-flex h-100 align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row borders mt-4 mb-4">       
              <div class="col-md-12 d-flex justify-content-center text-center">
                <h1 class="text-white"><b>Lit Community</b></h1>
              </div>
          </div>
          <div class="row mt-4 mb-4">       
            <div class="col-md-12 d-flex justify-content-center text-center">
              
            </div>
        </div>
          <div class="row backdrop mt-4">
            <div class="col-md-4 d-flex justify-content-center text-center">
              <h4 class="text-white lit-purple"><b>Give.</b></h4>
            </div>
            <div class="col-md-4 d-flex justify-content-center text-center">
              <h4 class="text-white lit-purple"><b>Receive.</b></h4>
            </div>
            <div class="col-md-4  d-flex justify-content-center text-center">
              <h4 class="text-white lit-purple"><b>Grow.</b></h4>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <!-- <div class="row d-flex w-100 align-items-center">
          <div class="col-md-12 d-flex justify-content-center text-center text-white">
            <h2><b>I am a ...</b></h3>
          </div>
        </div> -->
        <!-- <div class="row d-flex w-100 align-items-center">
          <div class="col-md-6 text-center">
            <button class="btn btn-success ">Producer</button>
          </div>
          <div class="col-md-6 text-center">
            <button class="btn btn-success ">Investor</button>
          </div>
        </div> -->
      </div>
      
            
            
    </div>
 
  <!-- Page Content -->
  <div class="container">

    <!-- <div class="row">
      <div class col-md-12>
        <div class="signup-form">
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div> -->
    <!-- /.row -->
    <div class="row pt-3 text-center">
      <div class="col-md-12">
        <h2>Our Mission</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <p>
          Lit Community is a cooperative of Benefactors seeking to invest in local communities by providing funding, business guidance, or encouragement to under-served and under-represented community business leaders.  From charities to start-ups, Lit Community helps turn dreams into reality in order to foster growth and economic equity for communities across the United States.
        </p>
      </div>
    </div>
    <div class="row pt-3 text-center">
      <div class="col-md-12">
        <h2>How Lit Works</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <%= image_tag "dreamer2.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">You have a dream.</h4>
            <p class="card-text">If you are small busienss owner, or if you operate a program in your community, Lit provides a matching service to connect you with our network of community-positive benefactors.  We work with banks to help secure loans.  We work with leaders in the professional community to provide logistical and financial support.  Most importantly, we work with you on achieving your dream. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <%= image_tag "teamnetwork.jpg", class: "card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">We have a network.</h4>
            <p class="card-text">Our founders have developed relationships with influential people that want to give back to the people and places that allowed them to thrive.  As a benefactor, we help connect you to people and projects that you are passionate about.  With Lit, you are investing in community improvement in a real and tangible way.  You will see the difference your generosity creates. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <%= image_tag "youhaveadream.jpg", class: "card-img-top" %>
          <!-- <img class="card-img-top" src="https://placehold.it/300x200" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">We rise together.</h4>
            <p class="card-text">Lit helps prepare your business or project for success and opens doors previously closed to you.  Together, we will help minority and under-represented producers create growth within the communities they represent.  Together, we rise.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy;Lit Community 2021</p>
    </div>
    <!-- /.container -->
  </footer>
  <%end%>